*{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

#root{
  height: 100vh;
}


.hover-effect {
  display: inline-block;
  position: relative;
  color: rgba(0, 0, 0, 0.93);
}

.hover-effect::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgba(227, 227, 227, 0.93);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-effect:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.home-button{
  height: 5.5rem;
  background-color: black;
  border: none;
  color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}